* {
    box-sizing: border-box;
}

@font-face {
    font-family: Lato-Light;
    src: url(fonts/Lato2OFL/Lato-Light.ttf);
}

@font-face {
    font-family: Lato-Medium;
    src: url(fonts/Lato2OFL/Lato-Medium.ttf);
}

@font-face {
    font-family: Lato-Thin;
    src: url(fonts/Lato2OFL/Lato-Thin.ttf);
}

@font-face {
    font-family: Lato-Semibold;
    src: url(fonts/Lato2OFL/Lato-Thin.ttf);
}

@font-face {
    font-family: Adam-Cg-Pro;
    src: url(fonts/ADAM.CGPRO.otf);
}

@font-face {
    font-family: SourceSerifPro-Light;
    src: url(fonts/SourceSerifPro-Light.otf);
}
html,body {
    font-family: Lato-Light;
    margin: 0;
    font-size:100%;
    height:100%;
    max-width: 100%;
    background-color: white;
    
}

body{
    min-height: 100%;
}

#mainMenu {
    z-index: 9999;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f2f2f2;
    opacity: 0.8;
    filter: alpha(opacity=60);
    width: 100%;
    position: fixed;
    top: 0;
    text-align: center;
    font-family: Lato-Medium;
}

#mainMenu li {
    display: inline-block;
    width: 30%;
    margin: 0;
   
}

#mainMenu li a {
    display: block;
    color:#331a00;
    letter-spacing: 0.1em;
    font-size: 0.8em;
    padding: 1.4em;
    margin: 0;
    text-decoration: none;
 
}

#mainMenu li a:hover{
    color: black;
    font-family: Lato-Medium;
    
}


header{
    background-position: center;
    background-size: cover;
    background-image: url('headerPhoto52.jpeg'); 
    min-height:100% !important;
    width:100%;
    font-family: Adam-Cg-Pro;
	text-rendering: optimizeLegibility !important;
	color: white;
    letter-spacing: 0.2em;  
}
        


h1{
    color:#331a00;
    font-size: 2em;
    letter-spacing: 0.5em;
}

h2{
    font-size: 1.2em;
    color:#1a0d00;
    letter-spacing: 0.1em; 
}



.display-container{
    position: relative;
}

.displayCenter{
    text-align: center;
}



.display-middle{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    filter:grayscale(50%);
}

.container{
  width:97%;
  max-width:700px;
  margin:1em auto 0em auto;
  background:transparent;
  font-family: 'Advent Pro';
  
     
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.subHeaderDiv{
    margin-bottom: 2em;
}

article{
    padding-top: 3em;
    padding-bottom: 3em;
    margin: 0;
     
}

#aboutMe h3{
    
    font-size: 2em;
    line-height: 3em;
    margin: 0;
    color: #333333;
    letter-spacing: 0.2em;
    text-decoration: underline;
    text-decoration-color: #662200;
    margin-left: 8.33%;
    font-family: Adam-Cg-Pro;
        
}


.textContainer{
    line-height: 1.5em;
    text-align: justify;
    text-justify: inter-word;
    font-family: Lato-Light;
    
    
}


#aboutMe {
    width:100%;
    margin:0;
    background-color:white;
    color: black;
}



.accordion {
   
    width:100%;
  
}

.accordion [type=radio], .accordion [type=checkbox] {
    display:none;
}

.accordion label:hover, .accordion [type=radio]:checked ~ label, .accordion [type=checkbox]:checked ~ label {
   background-color:  #4d0026;
    color: white;
    text-shadow:1px 1px 1px rgba(0,0,0,0.5)
}

.accordion .hobbyLabel:hover, .accordion [type=radio]:checked ~ .hobbyLabel, .accordion [type=checkbox]:checked ~ .hobbyLabel {
   background-color:  #c65353;
    color: white;
    text-shadow:1px 1px 1px rgba(0,0,0,0.5)
}
.accordion .content {
    max-height:0px;
    border-top:0;
    padding:0 10px;
    overflow:hidden;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    
    
}



 [type=radio]:checked ~ label ~ .content, [type=checkbox]:checked ~ label ~ .content {
    max-height:4000px;
    -webkit-transition: max-height 2s ease-out;
    -moz-transition: max-height 2s ease-out;
    
}



footer{
    font-size: 0.9em;
    padding:2em;
    background-color: #f2f2f2;
    color:#331a00;
    text-align: center;
    letter-spacing: 0.2em;
    
}

#firstSem{
    display: block;
}



.hr1 { 
    display: block;
    border: 0; 
    height: 1px; 
    width: 100%;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);

      
} 

.hr2{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-left: 12em;
    margin-right: 12em;
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.sep1{
    margin-top: 1em;
}




@media only screen and (min-width: 768px) {

    
    .flex-col-1 {width: 8.33%;}
    .flex-col-2 {width: 16.66%;}
    .flex-col-3 {width: 25%;}
    .flex-col-4 {width: 33.33%;}
    .flex-col-5 {width: 41.66%;}
    .flex-col-6 {width: 50%;}
    .flex-col-7 {width: 58.33%;}
    .flex-col-8 {width: 66.66%;}
    .flex-col-9 {width: 75%;}
    .flex-col-10 {width: 83.33%;}
    .flex-col-11 {width: 91.66%;}
    .flex-col-12 {width: 100%;}
   
}

